<%- if current_user && current_user.credentials.any? %>
  <div id="add-credential">
    <%= form_with scope: :credential, url: credentials_path, remote: true do |form| %>
      <div class="mdc-text-field mdc-text-field--box">
        <%= form.text_field :nickname, class: "mdc-text-field__input"%>
        <label class="mdc-floating-label" for="my-text-field">Nickname</label>
      </div>
      <%= form.submit "Add Credential", class: "mdc-button" %>
    <% end %>
  </div>
<% end %>

<ul class="mdc-list mdc-list--two-line">
  <% current_user.credentials.each do |credential| %>
    <li class="mdc-list-item">
      <span class="mdc-list-item__graphic material-icons">vpn_key</span>

      <span class="mdc-list-item__text">
        <%= credential.nickname %>

        <span class="mdc-list-item__secondary-text">
          <%= credential.external_id %>
        </span>
      </span>

      <% if current_user.can_delete_credentials? %>
        <%= link_to "delete", credential, method: :delete, class: "mdc-list-item__meta material-icons" %>
      <% end %>
    </li>
  <% end %>
</ul>
