<%- if current_user && current_user.credentials.any? %>
  <div id="add-credential">
    <%= form_with scope: :credential, url: user_credentials_path(current_user), remote: true do |form| %>
      Add credential

      <div>
        Nickname: <%= form.text_field :nickname %>
      </div>

      <%= form.submit :add, class: "mdc-button" %>
    <% end %>
  </div>
<% end %>

<ul class="mdc-list mdc-list--two-line">
  <% current_user.credentials.each do |credential| %>
    <li class="mdc-list-item">
      <span class="mdc-list-item__graphic material-icons">vpn_key</span>
      <span class="mdc-list-item__text">
        <%= credential.nickname %>

        <span class="mdc-list-item__secondary-text">
          <%= credential.external_id %>
        </span>
      </span>
    </li>
  <% end %>
</ul>
