<!DOCTYPE html>
<html>
  <head>
    <title>Ad Hoc WebAuthn Demo</title>
    <meta name="description" content="Application demonstrating a WebAuthn password-less login built with Ruby on Rails + webauthn ruby gem">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if Rails.env.production? %>
      <%= render "rollbar_js" %>
    <% end %>

    <% if Rails.env.test? %>
      <%= javascript_pack_tag 'stub_credentials', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <meta property="og:title" content="Ad Hoc WebAuthn Demo"/>
    <meta property="og:description" content="Application that demonstrates the ability to sign in using a security key or biometric."/>
    <meta property="og:site_name" content="Ad Hoc WebAuthn Demo">
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= image_url('webauthn-ruby.png') %>">
    <meta property="og:image:width" content="600">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mdc-theme--background">
    <header class="adhoc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="adhoc-top-app-bar__title">Ad Hoc Webauthn Demo</span>
        </section>

        <% if current_user %>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">

            <div class="mdc-menu-surface--anchor" data-controller="menu">
              <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" data-action="menu#open">account_circle</button>

              <div class="mdc-menu mdc-menu-surface" tabindex="-1" data-target="menu.openable">
                <div class="mdc-list">
                  <div class="mdc-list-item">
                    <span class="mdc-list-item__text">
                      <%= current_user.username %>
                    </span>
                  </div>

                  <div role="separator" class="mdc-list-divider"></div>

                  <%= link_to session_path, class: "mdc-list-item", method: :delete do %>
                    <span class="mdc-list-item__graphic material-icons">launch</span>
                    <span class="mdc-list-item__text">
                      Sign out
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </header>

    <div class="content mdc-top-app-bar--fixed-adjust">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>

    <footer class="footer mdc-theme--primary-bg mdc-theme--text-primary-on-light">
      <span class="mdc-theme--text-primary-on-dark">
        Built by
      </span>
      <%= link_to "Ad Hoc", "https://adhocteam.us/", class: "mdc-theme--text-primary-on-dark" %>
    </footer>

    <div class="mdc-snackbar js-messenger">
      <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="polite">
        </div>

        <div class="mdc-snackbar__actions">
          <button type="button" title="dismiss" class="mdc-icon-button material-icons mdc-snackbar__dismiss">close</button>
        </div>
      </div>
    </div>
  </body>
</html>
