<!DOCTYPE html>
<html>
  <head>
    <title>WebauthnApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mdc-theme--background">
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="mdc-top-app-bar__title">WebAuthn App</span>
        </section>

        <% if current_user %>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <%= truncate(current_user.email, length: 12) %>
            <a href="#" class="material-icons mdc-top-app-bar__action-item">account_circle</a>
          </section>
        <% end %>
      </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
