<!DOCTYPE html>
<html>
  <head>
    <title>WebauthnApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if Rails.env.production? %>
      <%= render "rollbar_js" %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mdc-theme--background">
    <% if (message = unsupported_browser_message) %>
      <p>
        <%= message %>
      </p>
    <% end %>

    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="mdc-top-app-bar__title">WebAuthn App</span>
        </section>

        <% if current_user %>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">

            <div class="mdc-menu-anchor">
              <button class="material-icons mdc-top-app-bar__action-item js-menu-opener">account_circle</button>

              <div class="mdc-menu js-menu" tabindex="-1">
                <div class="mdc-menu__items mdc-list">
                  <div class="mdc-list-item">
                    <%= current_user.email %>
                  </div>

                  <div role="separator" class="mdc-list-divider"></div>

                  <%= link_to session_path, class: "mdc-list-item", method: :delete do %>
                    <span class="mdc-list-item__graphic material-icons">launch</span>

                    Sign out
                  <% end %>
                </div>
              </div>
          </section>
        <% end %>
      </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
